# This is the .env file that will be used by the stackweb docker-compose. Some of the env variables are used during build time.

# Adjust this to point to the correct API URL, here we are using the kong external (outside of docker network) URL, since it will be used by the frontend
NEXT_PUBLIC_SUPABASE_URL=http://localhost:8800


# Set the following variables to the correct values
NEXT_PUBLIC_HF_API_KEY=
NEXT_PUBLIC_MONGODB_PWD=
NEXT_PUBLIC_NOTION_OAUTH_CLIENT_ID=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Remember to adjust this to match the correct ANON key, if the jwt secret is changed, the ANON key will also change.
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Privete keys used in stackweb container
STACK_API_KEY=DATA
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Remember to adjust this to match the correct service role key. if supabase jwt secret is changed, the service role key will also change.
SUPABASE_SERVICE_ROLE_KEY=