# #########################################################
# Variables that need to be adjusted for on-prem deployment
# #########################################################

# TODO: The default values for the urls are based on the docker-comopose setup.

# SUPABASE
SUPABASE_URL=http://kong:8000
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MONGODB_URI=mongodb://mongodb:27017/?replicaSet=rs0

# UNSTRUCTURED
UNSTRUCTURED_URL=http://unstructured:8000/general/v0/general
UNSTRUCTURED_API_KEY=

# CELERY
CELERY_BROKER_URL=redis://redis:6379
CELERY_BACKEND_URL=redis://redis:6379

# Weaviate
WEAVIATE_URL=http://weaviate:9090
WEAVIATE_KEY=

# REDIS
REDIS_URL=redis://redis:6379

# ???
DEVELOPMENT_MODE=<fill_in_your_value>
ENVIRONMENT=<fill_in_your_value>
sentry_dsn=?


# #########################################################
# Third party services
# #########################################################

# ## LLM PROVIDERS ## #
# OpenAI
OPENAI_API_KEY=
OPENAI_API_KEY_1=
OPENAI_API_KEY_2=
OPENAI_API_KEY_3=
OPENAI_API_KEY_4=
OPENAI_API_KEY_5=

# Azure
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_REGION=
AZURE_APP_ID=
AZURE_APP_SECRET=

# MISTRAL
MISTRAL_API_KEY=

# Cohere
COHERE_API_KEY=

# Google PALM
GOOGLE_PALM_API=

# Anthropic
ANTHROPIC_API_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS BEDROCK
BEDROCK_ACCESS_KEY_ID=
BEDROCK_PROFILE=
BEDROCK_REGION=
BEDROCK_SECRET_ACCESS_KEY=

# Huggingface
HUGGINGFACE_API_KEY=
HUBSPOT_CLIENT_SECRET=
HUBSPOT_CLIENT_ID=

# Perplexity
PERPLEXITY_API_KEY=

# Poplar
POPLARML_KEY=


# ## Google ## #
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GMAIL
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=

# Onboarding spreadsheet
google_sheet_private_key=
GOOGLE_SHEET_SPREADSHEET_ID=
GOOGLE_SHEET_WORKSHEET_NAME=
GOOGLE_SHEET_PRIVATE_KEY=

# ## Other Integrations ## #
# Notion
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=

# Pinecone API
PINECONE_API_KEY=
PINECONE_ENV=

# Replicate
REPLICATE_API_TOKEN=

# Wolframalpha
WOLFRAM_APP_ID=

# SERPER
SERPER_API_KEY=

# Apify
APIFY_TOKEN=

# Stripe
STRIPE_SECRET_KEY=

# Chameleon
CHAMALEON_API_KEY=

# ELEVEN LABS
ELEVEN_LABS_API_KEY=

# Deepgram
DEEPGRAM_API_KEY=

# Resend
RESEND_API_KEY=

# Airtable
AIRTABLE_CLIENT_ID=
AIRTABLE_CLIENT_SECRET=

# REPL
REPL_URL=

# SERP
SERP_API_KEY=

# Twilio
TWILIO_AUTH_TOKEN=

# Typeform
TYPEFORM_CLIENT_ID=
TYPEFORM_CLIENT_SECRET=

# Calendly
LOCAL_CALENDLY_CLIENT_SECRET=
LOCAL_CALENDLY_CLIEND_ID=
LOCAL_CALENDLY_CLIENT_ID=
CALENDLY_CLIEND_ID=
CALENDLY_CLIENT_ID=
CALENDLY_CLIENT_SECRET=

# Easycron
EASYCRON_KEY=

# NGROK
NGROK_URL=