########################################################
#
# STACK REPL ENVIRONMENT VARIABLES
#
# This file contains the environment variables for the Stack Repl Service.
#
# Instructions:
#
# Empty for now.
#
########################################################
